/*Фон*/
body {
  background: #cbdbfc;
  background-image: url(image/background.png);
}
/*Буквы*/
p, h1, h2, button {
  color: #3f3f74
}
/*Кнопка*/
.click {
	width: 300px;
	height: 150px;
}
