/*Всё тут идёт сверху вниз. 1.Общее*/
body {
  background: #cbdbfc;
  background-image: url(image/background.png);
}
.soul, button {
  text-align: center;
  color: #38386d;
  font-size: 20px;
}
/*2.Шапка*/
header {
  background: rgb(63, 63, 116, 0.7);
}
.intro{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.osu{
  font-size: 20px;
}
/*3.Основа*/
.click {
	width: 300px;
	height: 150px;
}
/*4.Гриша*/
a.Grisha {
 background: url(image/sprite2.png);
 display: block;
 width: 180px;
 height: 225px;
}
a.Grisha:hover {
  background-position: 0 -225px;
 }
 .shop{
   display: flex;
   justify-content: space-around;
 }
